.venv/
data/raw/1970-2021_11_EARTH_final_with_patchnum.csv
data
slurm-*
src/wandb
.pycache/
__pycache__/
**/__pycache__/
wandb/
env/
*.pth
*.h5
slurm_logs*
*.ipynb_checkpoints
checkpoints/
*.zip
slurm_logs/
.cache/
wandb/
tqdne-0.2.1*
*.h5
weights/
.ipynb_checkpoints/
