#Jupyter notebook
ipykernel

# Core ML
torch~=2.5.0
numpy<2
pandas
scikit-learn
scipy
matplotlib
einops

# Deep Learning
tensorflow


# Hugging Face
datasets
huggingface_hub
fsspec>=2023.5.0,<=2026.2.0

# Geospatial
geopandas
rasterio
shapely
Pillow

# Data / IO
h5py
requests
lunardate

# Experiment tracking
wandb
tensorboard

# Utilities
tqdm
pytest
typing_extensions

#Safenet
Pillow
matplotlib
scipy