# Core ML
torch~=2.5.0
numpy<2
pandas
scikit-learn
scipy
matplotlib

# Deep Learning
tensorflow
mamba-ssm
causal-conv1d>=1.4.0

# Hugging Face
datasets
huggingface_hub
fsspec>=2023.5.0,<=2026.2.0

# Geospatial
geopandas
pyproj<3.6.0
rasterio
shapely
Pillow

# Data / IO
h5py
requests
lunardate

# Experiment tracking
wandb
tensorboard

# Utilities
tqdm
pytest
typing_extensions

#Safenet
Pillow
matplotlib
scipy
